<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CRUD com Python3</title>
</head>
<body>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>CRUD com Python3</h1>
    </div>


    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-success"> Adicionar</a>
    </div>


    <div class="col-8 m-auto pt-2 pb-2 text-center">

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Modelo</th>
                <th scope="col">Marca</th>
                <th scope="col">Ano</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>

            {% for dbs in db %}

              <tr>
                <th>{{dbs.id}}</th>
                <td>{{dbs.modelo}}</td>
                <td>{{dbs.marca}}</td>
                <td>{{dbs.ano}}</td>
                <td>
                  <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                  <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                  <a href="" class="btn btn-danger">Deletar</a>
                </td>
              </tr>
              
              {% endfor %}

            </tbody>  
         </table>    
    </div>
</body>
</html>